## Ignore latex/pdflatex auxiliary files:
*.aux
*.bit
*.blg
*.bbl
*.lof
*.log
*.lot
*.glo
*.glx
*.gxg
*.gxs
*.idx
*.ilg
*.ind
#*.out
*.url
*.svn
*.toc

*/__pycache__/
*.pyc

/Code/Data/LibreView/RAW/*
/Code/Data/TrainingPeaks/2019/RAW/*
/Code/Data/TrainingPeaks/2020/RAW/*

/Doc/*.log
/Doc/*.aux
/Doc/*.out
/Doc/*.cut

