## Ignore latex/pdflatex auxiliary files:
*.aux
*.bit
*.blg
*.bbl
*.lof
*.log
*.lot
*.glo
*.glx
*.gxg
*.gxs
*.idx
*.ilg
*.ind
*.out
*.url
*.svn
*.toc

*/__pycache__/
*.pyc


/Doc/*.log
/Doc/*.aux
/Doc/*.out
/Doc/*.cut

