## Ignore latex/pdflatex auxiliary files:
*.aux
*.bit
*.blg
*.bbl
*.lof
*.log
*.lot
*.glo
*.glx
*.gxg
*.gxs
*.idx
*.ilg
*.ind
#*.out
*.url
*.svn
*.toc

*/__pycache__/
*.pyc

/Code/Data/Dexcom/*.csv
/Code/Data/Dexcom/TNN_CGM_2019_EU_exported_20210224.xlsx
/Code/Data/Dexcom/_bin/*
/Code/Data/Dexcom/_archive/*
/Code/Data/Dexcom/_backup/*
/Code/Data/Dexcom/drop/*
/Code/Data/Dexcom/export_eva/*
/Code/Data/Dexcom/timezone/*.csv

/Code/Data/LibreView/clean/*
/Code/Data/LibreView/raw_anonymous/*
/Code/Data/LibreView/raw/*
/Code/Data/LibreView/_bin/*

/Code/Data/TrainingPeaks/2019/glucose/*
/Code/Data/TrainingPeaks/2019/timezone/*
/Code/Data/TrainingPeaks/2019/clean2/*
/Code/Data/TrainingPeaks/2019/clean/*
/Code/Data/TrainingPeaks/2019/combine/*
/Code/Data/TrainingPeaks/2019/csv/*
/Code/Data/TrainingPeaks/2019/fit/*
/Code/Data/TrainingPeaks/2019/raw_anonymous/*
/Code/Data/TrainingPeaks/2019/raw/*
/Code/Data/TrainingPeaks/2019/_bin/*

/Code/Data/TrainingPeaks/2020/clean2/*
/Code/Data/TrainingPeaks/2020/clean/*
/Code/Data/TrainingPeaks/2020/combine/*
/Code/Data/TrainingPeaks/2020/csv/*
/Code/Data/TrainingPeaks/2020/fit/*
/Code/Data/TrainingPeaks/2020/raw_anonymous/*
/Code/Data/TrainingPeaks/2020/raw/*
/Code/Data/TrainingPeaks/2020/_bin/*

/Code/Data/TrainingPeaks+Dexcom/*.csv
/Code/Data/TrainingPeaks+Dexcom/_bin/*
/Code/Data/TrainingPeaks+Dexcom/_backup/*
/Code/Data/TrainingPeaks+Dexcom/timezone/*.csv

/Code/Data/TrainingPeaks+LibreView/resample_1min/*
/Code/Data/TrainingPeaks+LibreView/1sec/*
/Code/Data/TrainingPeaks+LibreView/raw/*
/Code/Data/TrainingPeaks+LibreView/_bin/*

/Code/Data/camp_california/*

/Code/Data/calendar/*.csv
/Code/Data/calendar/*.xls

/Code/Data/fitness/fitness_analysis_2019_anonymous.csv
/Code/Data/fitness/TEST ANALYSIS Dec_2018.xlsx

/Code/Data/info/*

/Code/Data/_archive/*
